<app-intro-nav></app-intro-nav>
<div class="container">
  <br>
  <div class="display-container">
  <div class="header mid-header">
      <div class="centre-align">
      <br>
      <div class="header-content">
      <p>Welcome to IncognoTales, a sanctuary for anonymous storytelling. 
        Dive into a world of untold tales and raw confessions where anonymity 
        unlocks the freedom to share your most intimate experiences, unshackled 
        from identity constraints. Join our community to share, connect, and explore 
        the depth of human narratives, unbound by judgment or disclosure.
      </p>
    </div>
    <div class="login-element">
      <button class="login-btn"  onclick="location.href='login'">Login</button>
      <button class="signup-btn" onclick="location.href='signup'">Signup</button>
    </div>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>