<app-header></app-header>
<br>
<div class="display-container">
<div class="header">
    <div class="mid-align">
    <h1>About</h1>
    <br>
    <p>
        Welcome to "IncognoTales," your sanctuary for anonymous storytelling. Our platform provides a secure and engaging environment where you can share your personal experiences without fear of judgment or exposure. Whether you're looking to connect, inspire, or simply express yourself, "IncognoTales" offers a diverse community where all stories are valued and heard. Join us in celebrating the power of anonymous storytelling and the shared human experience.
    </p>
</div>
</div>
</div>
<app-footer></app-footer>