<nav class="navbar navbar-default">
    <ul>
      <li id="index" class="hideOnMobile logo"><a href="/home">IncognoTales</a></li>
      <li id="home" class="hideOnMobile"><a href="/home">HOME</a></li>
      <li id="compose" class="hideOnMobile" *ngIf="userIsAuthenticated"><a href="/compose">COMPOSE</a></li>
      <li id="about" class="hideOnMobile"><a href="/about">ABOUT ME</a></li>  
      <li id="contact" class="hideOnMobile"><a href="/contact">CONTACT US</a></li>
      <li id="account" class="hideOnMobile" *ngIf="userIsAuthenticated"><a >MY ACCOUNT</a>
        <ul class="submenu" >
          <li class="not hideOnMobile" ><a href="/my-account/my-posts">MY POSTS</a></li>
          <li class="hideOnMobile"><a (click)="onLogout()">LOGOUT</a></li>
        </ul>
      </li>
      <li id="button" class="menu-button" (click)=showSidebar()><a [routerLink]=""><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
    <ul class="sidebar">
      <li id="button" (click)=hideSidebar()><a [routerLink]=""><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li id="home"><a href="/home">HOME</a></li>
      <li id="compose" ><a href="/compose" *ngIf="userIsAuthenticated">COMPOSE</a></li>
      <li id="about"><a href="/about">ABOUT ME</a></li>
      <li id="contact"><a href="/contact">CONTACT US</a></li>
      <li id="account" *ngIf="userIsAuthenticated"><a>MY ACCOUNT</a>
        <ul class="submenu" >
          <li class="not hideOnMobile" ><a href="/my-account/my-posts">MY POSTS</a></li>
          <li class="hideOnMobile"><a (click)="onLogout()">LOGOUT</a></li>
        </ul>
      </li>
    </ul>
</nav>  